- provide(:title, 'About Us')
%h1 About Us
%p March Nerdness is a project that I can't ever seem to finish.  I know people would enjoy it if I can ever find the time to just sit down and code this thing.
