<% provide(:title, 'Team API') %>
<h1>Team API</h1>
<h2>Available Team Stats:</h2>
<div class="row">
  <div class="span4">
    <ul><strong>Offensive:</strong>
      <li>ppg (points per game)</li>
      <li>o_rpg (offensive rebounds per game)</li>
      <li>fgp (field goal %)</li>
      <li>ftp (free throw %)</li>
      <li>tpp (three-pointer %)</li>
    </ul>
  </div>
  <div class="span4">
    <ul><strong>Defensive:</strong>
      <li>d_rpg (defensive rebounds per game)</li>
      <li>bpg (blocks per game)</li>
      <li>spg (steals per game)</li>
      <li>oppg (opponent points per game)</li>
    </ul>
  </div>
  <div class="span4">
    <ul><strong>Extras:</strong>
      <li>rpi (rpi rating)</li>
      <li>rpi_rank (rpi ranking)</li>
      <li>sos (strength of schedule rating)</li>
      <li>sos_rank (sos ranking)</li>
      <li>wins (total season wins)</li>
      <li>losses (total season losses)</li>
      <li>seed (ncaa tournament seed)</li>
    </ul>
  </div>
</div>

<h2>Example Algorithm</h2>
<p>
  If team_a scores more points and has a higher seed
  return team_a.  If team_b scores more points and has
  a higher seed return team_b.  Otherwise flip a coin
  and declare a winner.
</p>

<pre>
def winner(team_a, team_b)
  if team_a.ppg &gt; team_b.ppg
    if team_a.seed &lt; team_b.seed
      team_a
  elsif team_a.seed &gt; team_b.seed
    team_b
  else
    rand(2) == 0 ? team_a : team_b
end
</pre>
