<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <% if !current_user %>
      <a href="/auth/twitter" class="btn-auth btn-twitter large">
        Sign in with <strong>Twitter</strong>
      </a>
      <a href="/auth/github" class="btn-auth btn-github large">
        Sign in with <strong>GitHub</strong>
      </a>
    <% end %>
  </div>
</div>
